.user-welcome{
    display: flex;
    flex-direction: row;
    margin: 70px;
    align-items: center;
    gap: 40px;
    background-color: rgb(43, 43, 43);
    color: antiquewhite;

}
#pfp-moment{
    background-color: rgb(54, 26, 80);
    color: antiquewhite;
    padding: 40px;
    min-height: 80vh;
}

#pfp-moment a {
    text-decoration: none;
    color: antiquewhite;
}

#pfp-moment img {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
}

#user-info ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#user-info li {
    list-style-type: none;
    
}

#message-user p {
    font-size: 2rem;
}