.hero-section {
  position: relative;
  height: 80vh; 
  min-height: 500px;
  display: flex;
  align-items: center; 
  padding: 0 5%; 
  overflow: hidden; 
}

.hero-bg-layer {
  position: absolute; /* Las apilamos una encima de otra */
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0; /* Todas son transparentes por defecto y cambian suavemente */
  transition: opacity 1s ease-in-out; 
  z-index: 1; /* Nivel 1 (hasta el fondo) */
}

/*solo la imagen con la clase active sera visible */
.hero-bg-layer.active {
  opacity: 1;
}

/*capa encima de las fotos para oscurecerlas y hacer que el texto resalte */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0,0,0,0.8)
  0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
  z-index: 2; /* capa de superposición */
}

.hero-content {
  position: relative;
  z-index: 3; /* capa de contenido */
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 900; 
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  line-height: 1.1; 
  margin: 0;
  text-transform: uppercase;
}

.hero-content p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #eeeeee;
  margin: 0;
}

.cta-button {
  background-color: #ffcc00; 
  color: #000000;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px 35px;
  border: none; 
  border-radius: 30px;
  cursor: pointer;
  width: fit-content;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.cta-button:hover {
  background-color: #e6b800; 
  transform: scale(1.05); 
}
.capibara-container {
  position: absolute;
  bottom: 0;
  right: 8%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: capibara-enter 1s ease-out forwards;
  
}

.capibara-img {
  width: 180px;
  animation: saludo 1.5s ease-in-out infinite;
  transform-origin: bottom center;
}.speech-bubble {
  background: white;
  color: #5b21b6;
  font-weight: bold;
  font-size: 13px;
  padding: 10px 16px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  text-align: center;
  animation: aparecer 1s ease-out 0.5s forwards;
  opacity: 0;
  max-width: 180px;
  z-index: 20; 
  position: relative; 
}@keyframes aparecer {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}