#titulo-galeria{
    font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 4rem;
    text-align: center;
    background-color: gray;
    padding: 5%;
    color: antiquewhite;
}

#sort-galery{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin: 10px 0;
    color: black;
}

#botton-filtrado{
    display: flex;
    gap: 10px;
}

#botton-filtrado button, #botton-filtrado select{
    font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
}

#botton-filtrado button:hover, #botton-filtrado select:hover{
    cursor: pointer;
    background-color: rgb(202, 146, 255);
}

#botton-filtrado select option {
    background-color: white;
    color: black;
}

#botton-filtrado option:hover{
    background-color: transparent;
}

#art-display{
    background-color: rgb(255, 255, 255);
    margin: 25px;
    padding: 20px;
}

#art-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 40px;
    gap: 20px;
    justify-items: center;
    justify-content: center;
}

.art-piece {
    width: fit-content;
    text-align: left;
}

.art-piece img {
    width: 100%;            
    object-fit: cover; 
    display: block;
    border-radius: 5%;
}

.text-art-piece {
    font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
    font-weight: 200;
    padding: 0 7px;
}

.text-art-piece p a {
    text-decoration: none;
    color: black;
}

.precio-display {
    text-align: center;
    font-weight: 100;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pagination button {
    border-radius: 50%;
    width: 53px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 53px;
    box-shadow: none;
    background-color: transparent;
}

.pagination button:hover{
    background-color: rgb(202, 146, 255);
    cursor: pointer;
}

.pagination button.active-page {
    background-color: rgb(176, 91, 255);
}

.price-input {
  width: 100px;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
}